*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    position:relative;
}
.content img{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;

}

.col100{
    width: 100%;
    
}
.col33{
    margin: 10px;
    width: calc(100% /3 - 20px);
}
.heart{
    
    position: absolute;
    top:10px;
    right: 0;
    background-color: white;
    padding: 10px;
    z-index: 4;
}
.heart:hover{
    color: red;
}
.marca{
    font-size: 15px;
    font-weight: 100;
    text-align: left;
}
.product{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}
.new-price{
    color: red;
    font-size: 15px;
}
.old-price{
    text-decoration-line:line-through;
}

.z2{
    z-index: 3;
    position: relative;
    left: 0;
}
.z1{
    z-index: 2;
    position: absolute;
    left: 0;
    
}
.z2:hover{
    z-index: 1;
}